/* ---------------- Search bar ---------------- */

form {
  display: flex;
  width: 75%;
}

input {
  width: 85%;
  border: none;
  padding: 0 0.6rem;
  border-start-start-radius: var(--border-radius-md);
  border-end-start-radius: var(--border-radius-md);
}

input::placeholder {
  font-family: var(--primary-font);
  font-size: var(--font-size-sm);
}

button {
  width: 15%;
  border: none;
  border-start-end-radius: var(--border-radius-md);
  border-end-end-radius: var(--border-radius-md);
  background-color: var(--button-background);
}

button svg {
  height: 1.6rem;
  padding: 0.2rem 0
}

button svg path {
  fill: var(--button-text);
}

/* ---------------- Media Queries ---------------- */

@media screen and (min-width: 768px) {
  button {
    max-width: 4rem;
  }
}

@media screen and (min-width: 1499px) {

}

@media screen and (min-width: 1799px) {
  
}