---
import Layout from '../layouts/layout.astro';
import Searchbar from '../components/searchbar.astro'
import WebinarOverview from '../components/webinar-overview.astro'
import ContouringOverview from '../components/contouring-overview.astro'
---

<Layout title="Oncollaboration | Home" description="Where radiotherapists all across the world meet.">

  <h1>Home</h1>
  <Searchbar></Searchbar>

  <WebinarOverview></WebinarOverview>

  <ContouringOverview></ContouringOverview>
</Layout>