---
import Layout from '../layouts/layout.astro';
import Searchbar from '../components/searchbar.astro'
import WebinarOverview from '../components/webinar-overview.astro'
---

<Layout title="Oncollaboration | Home" description="Where radiotherapists all across the world meet.">

  <h1>Home</h1>
  <Searchbar></Searchbar>

  <WebinarOverview></WebinarOverview>

  <h2>Contourings</h2>
  <!-- <ul>
    {contourings.map(contouring => (
      <li>
        {contouring.title}
        <img src={`https://fdnd-agency.directus.app/assets/${contouring.image_scan.id}`} alt="CT-Scans" />
      </li>
    ))}
  </ul> -->
</Layout>