---
import Layout from '../layouts/layout.astro';
---

<Layout title="Oncollaboration | Home" description="Where radiotherapists all across the world meet.">
  <h1>Hello, world!</h1>
  <p>Welcome to my website.</p>
</Layout>
